@model IEnumerable<inzSNM.Models.Ankieta>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ankieta</h2>

<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-lg-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
</div>
<br />
<input id="Button1" type="button" value="Zaglosuj" class="btn btn-danger" />



