@model IEnumerable<inzSNM.Models.Ankieta>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ankieta</h2>
<script>
    function CallChangefunc(val){
      
     //   window.location.href = "/SkladAnkietyController/Submit?value=" + val;
    }
</script>



<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList, new { onchange = "document.location.href = '/SkladAnkiety/Submit?id=' + this.options[this.selectedIndex].value;'" })

    </div>
    asdhasdhaasdfghfdsfghfdsfghjgfdsgh

    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
    <div class="col-xs-6 col-lg-2">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
        @Html.DropDownList("list", ViewData["list"] as SelectList)
    </div>
</div>
<br />
<input id="Button1" type="button" value="Zaglosuj" class="btn btn-danger" data-toggle="modal" data-target="#myModal" />


<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
</script>

@*MODAL*@
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Czy chcesz zasubsktybować ?</h4>
            </div>
            <div class="modal-body">
                <input id="Text1" type="text" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-danger">Zapisz</button>
            </div>
        </div>
    </div>
</div>
